/* _content/LLJ_CarInsuranceMS_ASPNET/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand[b-87ax01d0fu] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-87ax01d0fu] {
  color: #0077cc;
}

.btn-primary[b-87ax01d0fu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-87ax01d0fu], .nav-pills .show > .nav-link[b-87ax01d0fu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-87ax01d0fu] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-87ax01d0fu] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-87ax01d0fu] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-87ax01d0fu] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-87ax01d0fu] {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #22344e;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.footer-section[b-87ax01d0fu] {
    width: 23%;
    display: inline-block;
    vertical-align: top;
    padding: 20px 0;
}

    .footer-section a[b-87ax01d0fu] {
        color: #ffffff;
        text-decoration: none;
    }

        .footer-section a:hover[b-87ax01d0fu] {
            text-decoration: underline;
        }
