@model IEnumerable<LLJ_CarInsuranceMS_ASPNET.Models.RepairShop>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<h1 class="text-center">Repair Shops Management</h1>
<hr />

<div class="container mt-4">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-store text-black"></i> Shop ID: @Html.DisplayFor(modelItem => item.ShopId)
                        </h5>
                        <p class="card-text">
                            <strong>Shop Name:</strong> @Html.DisplayFor(modelItem => item.ShopName)<br />
                            <strong>Location:</strong> @Html.DisplayFor(modelItem => item.Location)<br />
                            <strong>Contact Info:</strong> @Html.DisplayFor(modelItem => item.ContactInfo)
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Index" asp-controller="Admin" class="btn btn-primary">
        <i class="fa fa-home"></i> Back to Home
    </a>
</div>
