@{
    ViewData["Title"] = "Home Page";
}

<div class="background-div">
    <div class="featured">
        <h1>Confidence on the <br>Road Always Assured</h1>
        <p>At CIMS We offer reliable car insurance that keeps you covered wherever the road takes you. Drive worry-free and focus on what matters most-your journey. Come manage your car insurance with ease</p>
        <a asp-area="AuthServices" asp-controller="UserManager" asp-action="Register" class="btn-class">Learn More</a>
    </div>
    <img src="~/images/car-png-39057.png" class="feature-img" alt="Car Image">
</div>

<section id="about-us">
    <h1>About Us</h1>
    <div class="about-us-content">
        <div class="about-us-text">
            <h2>Company History</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
        </div>
        <div class="about-us-image">
            <img src="~/images/chuttersnap-gts_Eh4g1lk-unsplash.jpg" alt="Company History">
        </div>
    </div>
    <div class="about-us-content">
        <div class="about-us-image">
            <img src="~/images/chuttersnap-gts_Eh4g1lk-unsplash.jpg" alt="Social Proof">
        </div>
        <div class="about-us-text">
            <h2>Our Vision and Mission</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
        </div>
    </div>
    <div class="about-us-content">
        <div class="about-us-text">
            <h2>Brand Values</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
        </div>
        <div class="about-us-image">
            <img src="~/images/chuttersnap-gts_Eh4g1lk-unsplash.jpg" alt="Brand Values">
        </div>
    </div>
    <div class="about-us-content">
        <div class="about-us-image">
            <img src="~/images/chuttersnap-gts_Eh4g1lk-unsplash.jpg" alt="Audience">
        </div>
        <div class="about-us-text">
            <h2>Audience</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
        </div>
    </div>
</section>
