@model LLJ_CarInsuranceMS_ASPNET.Areas.AuthServices.Models.CurrentUserVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <i class="fas fa-users fa-3x mb-3 text-black"></i>
                    <h5 class="card-title">User Management</h5>
                    <p class="card-text">Manage users and their permissions.</p>
                    <a href="Admin/UserProfile" class="btn btn-primary">Go to User Management</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <i class="fas fa-file-alt fa-3x mb-3 text-black"></i>
                    <h5 class="card-title">Policy Management</h5>
                    <p class="card-text">Manage policies and related information.</p>
                    <a href="/Admin/CrudPolicies/Index" class="btn btn-primary">Go to Policy Management</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <i class="fas fa-user fa-3x mb-3 text-black"></i>
                    <h5 class="card-title">Customer Management</h5>
                    <p class="card-text">Manage customers and their details.</p>
                    <a asp-area="Admin" asp-controller="CrudCustomers" asp-action="Index" class="btn btn-primary">Go to Customers</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <i class="fas fa-clipboard-list fa-3x mb-3 text-black"></i>
                    <h5 class="card-title">Claim Management</h5>
                    <p class="card-text">Handle and process claims.</p>
                    <a asp-area="Admin" asp-controller="CrudInsuranceClaim" asp-action="Index" class="btn btn-primary">Go to Claim Management</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <i class="fas fa-user-tie fa-3x mb-3 text-black"></i>
                    <h5 class="card-title">Application Management</h5>
                    <p class="card-text">Manage Policy Applications.</p>
                    <a asp-area="Admin" asp-controller="CrudPolicyApplication" asp-action="Index" class="btn btn-primary">Go to Applications</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <i class="fas fa-tools fa-3x mb-3 text-black"></i>
                    <h5 class="card-title">Repair Shop Management</h5>
                    <p class="card-text">Manage repair shop information.</p>
                    <a asp-area="Admin" asp-controller="RepairShops" asp-action="Index" class="btn btn-primary">Go to Repair Shop Management</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}